---
---
@import "{{ site.theme }}";

a {
 color: black; 
}

#profile-picture {
  width: 90%;
  border-style: solid;
  border-width: 2px;
  border-color: #93000a;
  border-radius: 50%;
}

.homepage-pic {
  border-radius: 3px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  object-fit: cover;
  height: 300px;
  width: 300px;
}

.view.social {
  margin-bottom: 0px; 
}

.wrapper {
  width: 85%;  
}

header {
 width: 200px; 
}

section {
  width: 80%; 
}

@media screen and (max-width: 480px) {
    section { 
      width: 100%;  
    }
}

.primary-color {
  color: #b42eeb;
}

.left-border {
  border-left: 5px solid #b42eeb;
  padding-left: 1em;
}

.resume-header {
  margin-bottom: 2em;
}

.header-name {
  font-size: 40px;
  font-weight: 600;
}

.header-info {
  display: inline;
  margin-top: 1em;
}

.divider-heading {
  font-size: 13px;
  background-color: #e0e0e0;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  padding: .5em;
  display: inline-block;
  min-width: 100px;
  text-align: center;
  margin-top: 25px;
}

.divider-line {
  height: 1px;
  background-color: #e0e0e0;
  margin-top: -2.5em;
}

.company-section-heading {
  font-size: 17px;
  margin-top: 2em;
  margin-bottom: 0.25em;
  font-weight: 700;
}

.job-card {
  margin-top: .5em;
  margin-bottom: 1em;
  padding: 1em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.job-title {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 200;
  margin-bottom: 0em;
  color: #272727;
}

.job-team {
  margin-bottom: 0;
}

.job-subheading {
  font-size: 11px;
  display: inline;
  margin-right: 1em;
}

.show-more-button {
  cursor: pointer;
  text-align: center;
  margin-top: .25em;
  font-style: italic;
}

.skill-chip {
  border-radius: 10px;
  font-size: 11px;
  display: inline-block;
  min-width: 30px;
  text-align: center;
  padding: .2em 1em;
  margin-right: .25em;
  &:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  }
}